<!DOCTYPE html>
<html ng-app="estateListingApp">
<head>


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>sreality.cz listings...</title>


<link rel="stylesheet" href="/css/shopper.css" type="text/css" />

<!-- jquery -->
<script type="text/javascript" src="/webjars/jquery/2.1.3/jquery.js"></script>
<!-- jquery - optional -->
<script type="text/javascript" src="/webjars/jquery-mousewheel/3.1.12/jquery.mousewheel.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="/webjars/bootstrap/3.3.4/css/bootstrap.css" type="text/css" />
<script type="text/javascript" src="/webjars/bootstrap/3.3.4/js/bootstrap.js"></script>
<!-- bootstrap - optional -->
<link rel="stylesheet" href="/webjars/bootstrap/3.3.4/css/bootstrap-theme.css" type="text/css" />

<!-- angularjs -->
<script type="text/javascript" src="/webjars/angularjs/1.3.15/angular.js"></script>

<!-- angularjs + bootstrap -->
<script type="text/javascript" src="/webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap-tpls.js"></script>

<!-- fancybox -->
<link rel="stylesheet" href="/webjars/fancybox/2.1.5/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/webjars/fancybox/2.1.5/jquery.fancybox.js"></script>
<!-- fancybox - optional -->
<link rel="stylesheet" href="/webjars/fancybox/2.1.5/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
<script type="text/javascript" src="/webjars/fancybox/2.1.5/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="/webjars/fancybox/2.1.5/helpers/jquery.fancybox-media.js"></script>
<link rel="stylesheet" href="/webjars/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
<script type="text/javascript" src="/webjars/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js"></script>

<!-- custom -->
<script type="text/javascript" src="./js/estateListing.js"></script>

<style>
.estates {
	width: 98%;
}
</style>


</head>
<body>



	<div class="container estates" ng-controller="estateListingController">
		<form class="estateSearch">
			<label>Adresa</label>
			<input type="text" name="searchText" ng-model="searchText" />
			<button ng-click="searchSubmit();">Hledat</button>
		</form>
		<div class="estate" ng-repeat="estate in estates"
 					ng-class="{'inactive' : !estate.active, 'invisible1' : !estate.visible,
 					'stars3' : estate.stars == 3, 'stars2' : estate.stars == 2,
 					'stars1' : estate.stars == 1, 'stars0' : estate.stars == 0}">
			<h3><a href="{{estate.url}}">{{estate.metaDescription}}</a></h3>
			<div class="row">
				<div class="col-lg-4 col-md-5 col-xs-12">
					<table class="estateDataTable">
						<tr>
							<th>Datum:</th>
							<td>{{timestampToLocaleDateString(estate.createdAt)}}
							(změna {{timestampToLocaleDateString(estate.dateSort)}})</td>
						</tr>
						<tr>
							<th>Cena:</th>
							<td><B>{{numberWithSpaces(estate.price)}}</B></td>
						</tr>
						<tr>
							<th>Adresa:</th>
							<td><B>{{estate.address}}</B></td>
						</tr>
						<tr>
							<th>Stav objektu:</th>
							<td>{{estate.state}}</td>
						</tr>
						<tr>
							<th>Plocha zastavěná:</th>
							<td>{{estate.areaBuild}} m<sup>2</sup></td>
						</tr>
						<tr>
							<th>Plocha užitná:</th>
							<td><B>{{estate.areaUsable}} m<sup>2</sup></B></td>
						</tr>
						<tr>
							<th>Plocha podlahová:</th>
							<td>{{estate.areaFloor}} m<sup>2</sup></td>
						</tr>
						<tr>
							<th>Plocha pozemku:</th>
							<td><B>{{estate.areaTotal}} m<sup>2</sup></B></td>
						</tr>
						<tr>
							<th>Plocha zahrady:</th>
							<td>{{estate.areaGarden}} m<sup>2</sup></td>
						</tr>
						<tr>
							<th>Odkazy:</th>
							<td><a class="fancyboxIframe fancybox.iframe" href="{{estate.url}}">sreality.cz</a> <br /> <a
								class="fancyboxIframe fancybox.iframe" href="{{constructGoogleMapsUrl(estate.address)}}">maps.google.com</a></td>
						</tr>
						<tr>
							<th>Stars:</th>
							<td ng-controller="estateRatingController" ng-init="stars = estate.stars; starsOld = estate.stars; srealityId = estate.srealityId;">
								<rating ng-model="stars" max="maxStars"></rating>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-8 col-md-7 col-xs-12">
					{{estate.description}}
					<br><br>
					<div ng-repeat="history in estate.histories">
					{{timestampToLocaleDateString(history.createdAt)}} {{history.message}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-4 col-xs-6" ng-repeat="image in estate.images">
					<a class="fancyboxImage" rel="{{'estate-' + estate.srealityId}}" href="{{image.url}}"> <img class="estateImage"
						ng-src="{{smallImageUrl(image.url)}}" alt="{{image.description}}" height="189" width="248" />
					</a>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<pagination ng-model="pageNumber" ng-change="pageChanged()" total-items="totalEstates" max-size="maxNumberOfPageNumbers" boundary-links="true" items-per-page="pageSize"/>
	</div>



	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancyboxImage").fancybox({
				type : 'image',
				beforeShow : function() {
					var alt = this.element.find('img').attr('alt');
					this.inner.find('img').attr('alt', alt);
					this.title = alt;
				},
				openEffect : 'none',
				closeEffect : 'none'
			});
			$(".fancyboxIframe").fancybox({
			// maxWidth : 800,
			// maxHeight : 600,
			// fitToView : false,
			// width : '80%',
			// height : '80%',
			// autoSize : false,
			// closeClick : false,
			// openEffect : 'none',
			// closeEffect : 'none'
			});
		});
	</script>



</body>
</html>
